/*Without changing anything in the html, add the following styles using advanced selectors*/


/* Give the header element a background color */
header {
    background: beige;
}

/* Center everything in the header and footer */
header, footer {
    text-align: center;
}

/* All text to Helvetica */
body {
    font-family: Helvetica;
}

/* All links default color is gray*/
a {
    color: gray;
}

/* All links on hover color red*/
a:hover {
    color: red;
}

/* All Links visted color black*/
a:visited {
    color: black;
}

/* Footer disclaimer text to be .5 em*/
footer p {
    font-size: .5em;
}

/* Remove bullet points from header navigation links */
header nav ul {
    list-style-type: none;
}

/* All Post's Comment Links Italicized, Orange and Remove the Underline */
a[href*="#comments"] {
    font-style: italic;
    color: Orange;
    text-decoration: none;
}

/* All Post's Comment Links Show Underline on Hover */
a:hover[href*="#comments"]  {
    text-decoration: underline;
}

/* All Post's Author's Links Bold and Blue, with no Underline */
h3 a, article p a:nth-of-type(1) {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

/* Article Paragraph Text should have line height of 200% */
article p {
    line-height: 200%;
}

/* The First Letter of each Article be 2em */
article::first-letter{
    font-size: 2em;
}

/* The First Image in every Article should have Rounded Corners*/
article img:nth-of-type(1) {
    border-radius: 25px;
}

/* The First Top Cat Section (check the bottom of the HTML file) should have a Golden Background */
aside section:nth-of-type(1) {
    background: gold;
}

/* The 2nd Top Cat Section Should have a Silver/gray Background */
aside section:nth-of-type(2) {
    background: silver;
}

/* The 3rd-Most Top Cat Should have a Bronze/brown Background
   Note: the HTML for this one is a little odd! This is intentional! */
aside+section {
    background: saddlebrown;
}
/* Every other Article's Post-Content Background Color to a Light Grey */
article:nth-of-type(2n) p{
    background: lightgray;
}

/* All Top Kitten's Profile Photos Rounded */
aside img, aside+section img {
    border-radius: 25px;
}

/*** BONUS ***/

/* Add a cat emoji before a Cat's Name (in the heading content)*/
article h2::before {
    content: "\1F638";
}

/* Top-most Top Cat has a trophy emoji before name */
aside h3::before, aside+section h3::before {
    content: "\1F3C6";
}

/* Use Google Fonts to change h1 & h2 fonts to Roboto Slab */
h1, h2 {
    font-family: 'Roboto Slab', serif;
}